/* Background Image */
#index{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("Resources/road.png");
}
#about{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("Resources/About/Harbour-Bridge-Sydney.png");
}
#interests{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("Resources/Interests/JAPAN.png");
}
#projects{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("Resources/Projects/CHINA.png");
}
#socials{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://a.travel-assets.com/findyours-php/viewfinder/images/res70/210000/210083-Central-Java.jpg");
}


body {
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#heading {
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    animation: popout 1.5s infinite;
    rotate: -2deg;
    padding: 4%;
}

/* Images popout effect */
#highlight {
    animation: popout 1.5s infinite;
}

/* Photo Gallery */
div.gallery {
    margin: 15px 30px; /* Spacing between photos */
    float: left;
}

div.gallery:hover {
    transform: scale(1.05);
    rotate: 2deg;
}

div.gallery img {
    max-height: 200px;
    width: auto;
    /* Borders = Polaroid frame */
    border-style: solid;
    border-width: 10px 10px 30px 10px;
    border-color: white;
}

div.gallery #heading {
    background-color: lightgray;
    rotate: 0deg;
    border-style: solid;
    border-width: 10px 10px 30px 10px;
    border-color: white;
    animation: none;
}

/* Featured Photo */
div.featured {
    margin: 2% 20%;
    float: left;
    animation: hover 3s infinite;

    /* Borders = Polaroid frame */
    border-style: solid;
    border-width: 10px 10px 50px 10px;
    border-color: white;
}

div.featured img {
    max-height: 300px;
    width: auto;   
}

/* Featured Image - Hover FX */
@keyframes hover {
    0% {
        rotate: 0deg;
        scale: 1;
    }
    50% {
        transform: rotate(5deg);
        transform: scale(1.05);
    }
    100% {
        transform: rotate(0deg);
        transform: scale(1);
    }
}

/* Pop-out VFX for Heading */
@keyframes popout {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}