body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
}

/* .turntable {
    position: relative;
    width: 300px;
    height: 300px;
}

.record {
    width: 250px;
    height: 250px;
    background: radial-gradient(circle, #333 30%, black 100%);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 5s linear infinite;
}

.label {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.tonearm {
    width: 100px;
    height: 10px;
    background-color: silver;
    position: absolute;
    right: -20px;
    top: 20%;
    transform: rotate(30deg);
} */

/* Spinning Animation */
/* @keyframes spin {
    from { transform: translate(-50%, -50%) rotate(0deg); }
    to { transform: translate(-50%, -50%) rotate(360deg); }
} */


.spine {
    border: 1px solid black;
    width: 10px;
    height: 50px;
    color: chocolate;
    text-orientation: mixed;
    font-size: large;
    font-weight: bold;
}